.git
.github
**/node_modules
**/.next
**/.turbo
**/*.tsbuildinfo
**/.env
**/.env.*
!.env.example
!**/.env.example
artifacts
playwright-report
test-results
tests
scripts
docs
README.md
playwright.config.ts
docker-compose.yml
*.log
